<div style="Float:right;"><img src="https://securex-pmt-tst.appspot.com/images/logo_secu.gif"></div>
Cher monsieur/Ch&egrave;re madame, 
<br>
<br>
Vous avez opt&eacute; pour le service comfoHRt soutenu par la plateforme informatique HRonline20/50 
(&agrave; modifier selon le choix). Nous voulons vous remercier encore une fois pour la confiance 
que vous t&eacute;moignez envers les services de Securex.
<br><br>
Dans le cadre de la pr&eacute;paration op&eacute;rationnelle du mod&egrave;le comfoHRt, Securex tient &agrave; effectuer 
un test de votre environnement internet. Conform&eacute;ment &agrave; nos normes de qualit&eacute; &eacute;lev&eacute;es, 
Securex tient &agrave; assurer une communication performante entre la plateforme HRonline et votre 
environnement internet, car un &eacute;change de donn&eacute;es rapide est tout &agrave; votre avantage. 
Par ce test automatis&eacute; nous souhaitons accorder les caract&eacute;ristiques de syst&egrave;me de votre 
environnement internet &agrave; nos configurations HRonline. Ce test ne prendra pas plus que quelques secondes.
<br>
<br> 
Ci-dessous vous trouverez un lien vers l&#39;environnement de test. D&egrave;s que vous avez activ&eacute;
 le lien, nous vous demanderons certaines donn&eacute;es d&#39;entreprise pour v&eacute;rification. Ensuite 
 le test est lanc&eacute;. Il est tr&egrave;s important d&#39;effectuer ce test sur l&#39;ordinateur avec 
 lequel vous utiliserez HRonline. Ce test n&#39;a aucune influence sur les caract&eacute;ristiques 
 de votre syst&egrave;me, et nous vous garantissons que les informations recueillies seront uniquement 
 utilis&eacute;es end&eacute;ans le cadre de la loi sur la confidentialit&eacute;. 
<br>
<br>
Si vous avez d&#39;autres questions par rapport &agrave; ce test, n&#39;h&eacute;sitez pas &agrave; appeler notre 
helpdesk au num&eacute;ro 070 / 233 356. Ils vous fourniront volontiers toutes les infos n&eacute;cessaires. 
<br>
<br>
Cordialement
<br>
<br>
Client Helpdesk &#45; HRonline
